<div class="home-page main">
	<section class="grid-wrap" >
		<header class="grid col-full">
			<hr>
			<p class="fleft">Home</p>
                        <p class="arrow fright"><%=link_to "see more infos",'#' %></p>
			
		</header>
		
		<div class="grid col-one-half mq2-col-full">
			<h1>Desktop   apps<br>
			Iphone   Apps <br>
			Android   Apps</h1>
			<p>Mecksolution is web/desktop development company located in India.We have large task force of developer dedicated to tailormade apps and off the shelf apps
			</p>
			<p>Also we offer other services like support application deployment
			</p>
		</div>
			
	
		 <div class="slider grid col-one-half mq2-col-full">
		   <div class="flexslider">
		     <div class="slides">
		       <div class="slide">
		           	<figure>
                                  <%= image_tag "img2.jpg", alt:""%>
		                
		                 <figcaption>
		                 	<div>
		                 	<h5>Caption 1</h5>
		                 	<p>meck centre <%=link_to "link text", '#'%></link_to></p>
		                 	</div>
		                 </figcaption>
		             	</figure>
		           </div>
		           
		           <div class="slide">
		               	<figure>
                                  <%= image_tag "img.jpg", alt: ""%>
		                     
		                     <figcaption>
		                     	<div>
		                     	<h5>Caption 2</h5>
		                     	<p>meck centre 2</p>
		                     	</div>
		                     </figcaption>
		                 	</figure>
		               </div>
		            </div>
		   </div>
		 </div>
		
		 </section>
</div>